canvas { 
	background: #00FF00;
	/*background: #CCAA00;*/
	image-rendering: pixelated;
	/*transform: scale(1);*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}